{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>ADHDDoS</h1>
    </header>

    <article>
      {% block content %}
      {% endblock %}
    </article>

    <footer>
      <p>Footer text here! Yay!</p>
    </footer>
  </div>
</body>
</html>
