{% extends 'adhddos.html' %}
{% load django_markdown %}

{% block title %}Blog posts{% endblock %}

{% block info %}{% if info %}<p class="info">{{ info }}</p>{% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="postblock">
      <h2><a href="{% url 'one_post' slug=post.slug %}">{{ post.title }}</a></h2>
      <p class="datestamp">
        published: {{ post.publish_date }}
      </p>
      <p> {{ post.body|markdown }}</p>
    </div>
  {% endfor %}
{% endblock %}
