header, footer {
  background-color: #dddddd;
}

footer {
  margin-top: 1em;
}

nav {
  background-color: #eeeeee;
}

nav a:hover {
  text-decoration: none;
}

div.postblock {
  border-bottom: 1px black solid;
  margin-bottom: 1em;
}

a.title {
  color: black;
}

a.title:hover {
  text-decoration: none;
}

p.datestamp, p.taglist {
  font-size: 75%;
}

#info p {
  margin: 1em 0 0 1em;
  font-style: italic;
}
